<?xml version="1.0" encoding="UTF-8"?>

<settings>
  <username>zhou.2135393@studenti.uniroma1.it</username>
  <token>ZXlKMGVYQWlPaUpLVjFRaUxDSmhiR2NpT2lKSVV6STFOaUo5LmV5SnpkV0lpT2lKNmFHOTFMakl4TXpVek9UTmZOVVJIT1dNaUxDSmhkV1FpT2lKM1pXSnlZWFJwYnk1amIyMGlMQ0pwYzNNaU9pSjNjbk4wYjNKbElpd2laWGh3SWpveE56UTFPRE01TURRMExDSnBZWFFpT2pFM01UUXpNRE13TkRSOS5oUjNMS1RDMndtLVltM1hPWnhwX1hmRUdSNjE3YTluYS13V2hLSEEzVU9R</token>
</settings>
